<div class="centerRight">
  <div class="content">
    <div class="nav">
      <ul>
        <li>相片</li>
        <li>姓名</li>
        <li>性别</li>
        <li id="department">部门					</li>
        <li id="working">职称</li>
        <li>操作</li>
      </ul>
    </div>
    <div class="detail">
      <ul id="oul">
      </ul>
    </div>
  </div>
  <div class="page">
    <div id="pagecount">
    </div>
  </div>
</div>
<div class="header_z">
  <asid class="login">
    <div>
      <i id="loginClose" class="icon-cross"></i>
    </div>
    <form>
      <lable>账号<input type="text"/></lable><lable>密码<input type="password"/></lable><button>登陆</button>
    </form>
  </asid>
</div>
